.navheader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-item {
  color: white;
  margin: 40px;
  /* font-family: "Courier New", monospace; */
  font-size: 17px;
  font-weight: medium;
  text-decoration: none;
}

.nav-item:hover {
  color: grey;
}
